:root {
  --main-color: #911ec2;
  --secondary-color: #5d2cd7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Tajawal', sans-serif;
  font-size: 14px;
  direction: rtl;
  text-align: right;
}

p {
  line-height: 1.9;
}

button {
  &:focus {
    outline: none;
  }
}

.primary-btn {
  padding: 10px 25px;
  text-align: center;
  background-image: linear-gradient(to right, #901ec1 0%, #7450fe 51%, #901ec1 100%);
  background-size: 200% auto;
  color: white;
  border: 0;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 25px;
  margin-top: 30px;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Tajawal', sans-serif;
  box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
  &:hover {
    background-position: right center !important;
  }
}

.section-block {
  padding: 80px 0;
}

.section-header {
  margin-bottom: 80px;
  text-align: center;
  h2 {
    font-size: 34px;
    line-height: 45px;
    color: #263b5e;
    margin-bottom: 15px;
    text-transform: capitalize;
  }
  p {
    font-size: 15px;
    font-weight: 500;
    color: #77838f;
  }
}

.shape-top {
  background-image: url(../img/footer-top.svg);
  background-size: 100% 204px;
  top: 0;
  height: 180px;
  z-index: 1;
  margin-top: -1px;
  position: absolute;
  width: 100%;
  pointer-events: none;
  transform: rotate(180deg);
}

.shape-bottom {
  background-image: url(../img/footer-top.svg);
  background-size: 100% 204px;
  bottom: 0;
  height: 180px;
  z-index: 1;
  margin-top: -1px;
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.navbar-background {
  background-image: linear-gradient(to right, rgba(144, 30, 193, 0.90) 0%, rgba(116, 80, 254, 0.90) 51%, rgba(144, 30, 193, 0.90) 100%);
  background-size: 200% auto;
}

.navbar {
  position: fixed;
  background-color: transparent;
  z-index: 10;
  padding: 15px 0;
  width: 100%;
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    a {
      display: flex;
      align-items: center;
    }
  }
  ul {
    list-style: none;
    display: flex;
    li {
      a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
      }
    }
  }
}

.main-header {
  padding-top: 100px;
  width: 100%;
  height: 800px;
  background-image: url("../img/start-home-bg2.jpg");
  position: relative;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  & > div {
    z-index: 2;
    position: relative;
  }
  .content {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    
    & > div {
      flex-basis: 50%;
    }
    .home-content {
      margin-top: 35px;
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 16px;
        line-height: 1.9;
      }
      .btns {
        display: flex;
        margin-top: 50px;
        & > div a {
          text-decoration: none;
          color: white;
          margin-left: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 22px;
          border: 2px solid white;
          border-radius: 8px;
          transition: 0.2s;
          .btn-icon {
            font-size: 30px;
            margin-left: 10px;
            display: flex;
          }
          .btn-title {
            display: flex;
            flex-direction: column;
            justify-self: center;
            p, h3 {
              font-size: 13px;
            }
          }
          &:hover {
            background-color: white;
            color: var(--main-color);
          }
        }
      }
    }
    .home-img {
      max-width: 50%;
      padding-right: 60px;
      img {
        animation: floating 7s infinite;
        width: 100%;
        height: auto;
      }
    }
  }
  &::after {
    position: absolute;
    content: '';
    background: linear-gradient(to right, rgba(144, 30, 193, 0.90) 0%, rgba(107, 73, 238, 0.90) 51%, rgba(144, 30, 193, 0.90) 100%);
    background-size: 200% auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .wave-area {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 1;
    .wave {
      background: url(../img/wave.svg) repeat-x;
      position: absolute;
      top: -100px;
      width: 6400px;
      height: 100px;
      animation: wave 35s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      transform: translate3d(0, 0, 0);
      &:nth-of-type(2) {
        top: -56px;
        animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
        opacity: 1;
      }
    }
  }
}

.features {
  .feature-block {
    display: flex;
    background: #fff;
    box-shadow: 0px 0px 25px 6px rgba(154, 161, 171, 0.1);
    text-align: right;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    .feature-icon {
      width: 80px;
      margin-left: 10px;
      img {
        width: 100%;
      }
    }
    p {
      color: #77838f;
    }
  }
  .img-box {
    text-align: center;
    img {
      max-height: 500px;
      animation: floating 7s infinite;
    }
  }
}

.how-it-work {
  .how-it-work-img {
    img {
      width: 100%;
      animation: floating 7s infinite;
    }
  }
  .step-block {
    padding: 30px 20px 20px;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0px 0px 25px 6px rgba(154, 161, 171, 0.1);
    border-radius: 10px;
    display: flex;
    .step-icon {
      margin-left: 20px;
    }
    p {
      color: #77838f;
    }
  }
}

.pricing {
  .year {
    display: none;
  }
  .section-header {
    text-align: right;
    margin-bottom: 50px;
  }
  .btns-group {
    .btn {
      padding: 15px 30px;
      position: relative;
      border: 1px solid var(--secondary-color);
      background: #fff;
      color: var(--secondary-color);
      font-family: 'Tajawal', sans-serif;
      font-size: 16px;
      margin: -2px;
      cursor: pointer;
      &:first-of-type {
        border-radius: 0 25px 25px 0;
      }
      &:last-of-type {
        border-radius: 25px 0 0 25px;
      }
      span {
        position: absolute;
        top: -16px;
        left: -40px;
        color: #fff;
        background-color: #00c9a7;
        padding: 8px 10px;
        font-size: 11px;
        border-radius: 14px;
      }
      &.active {
        background: linear-gradient(to right, #901ec1 0%, #7450fe 51%, #901ec1 100%);
        background-size: 200% auto;
        color: #fff;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .card {
    margin: 20px 0;
    background: #fff;
    box-shadow: 0 0 25px rgba(140, 152, 164, 0.125) !important;
    border-radius: 15px;
    padding: 0;
    &-header {
      background: linear-gradient(to right, rgba(144, 30, 193, 1) 0%, rgb(107, 73, 238) 51%, rgba(144, 30, 193, 1) 100%);
      color: white;
      text-align: center;
      position: relative;
      padding: 20px 0;
      border-radius: 15px 15px 0 0 ;
      h4 {
        font-size: 25px;
      }
      span.price {
        margin: 20px 0;
        display: block;
        &-currency {
          vertical-align: top !important;
        }
        &-num {
          font-size: 40px;
          font-weight: bold;
        }
        &-date {
          font-size: 16px;
        }
      }
      .shape {
        position: absolute;
        bottom: -6px;
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    &-content {
      padding: 25px;
      ul {
        list-style: none;
        padding: 0 30px;
        li {
          margin: 15px 0;
          font-size: 14px;
          position: relative;
          &::before {
            content: "\f00c";
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            position: absolute;
            right: -30px;
            color: var(--main-color);
            font-size: 11px;
            width: 25px;
            height: 25px;
            background-color: #911ec224;
            text-align: center;
            line-height: 25px;
            border-radius: 50%;
          }
        }
      }
      .btn {
        color: #901ec1;
        background: rgba(144, 30, 193, 0.07);
        padding: 12px 10px;
        margin-top: 30px;
        transition: all 0.5s;
        border: 0;
        font-family: 'Tajawal', sans-serif;
        width: 100%;
        cursor: pointer;
        border-radius: 25px;
        &:hover {
          background: linear-gradient(to right, #901ec1 0%, #7450fe 51%, #901ec1 100%);
          background-size: 200% auto;
          color: #fff;
        }
      }
    }
  }
  .top {
    transform: translateY(-20px);
  }
}

.reviews {
  position: relative;
  background: #f8f9fb;
  padding: 260px 0;
  .section-header {
    text-align: right;
    margin-bottom: 20px;
  }
  .btns-group {
    .btn {
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      background-color: rgba(144, 30, 193, 0.07);
      color: var(--secondary-color);
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        background: linear-gradient(to right, #901ec1 0%, #7450fe 51%, #901ec1 100%);
        background-size: 200% auto;
        color: #fff;
      }
    }
  }
  .see-all-btn {
    padding: 10px 25px;
    text-align: center;
    background-image: linear-gradient(to right, #901ec1 0%, #7450fe 51%, #901ec1 100%);
    background-size: 200% auto;
    color: white;
    border: 0;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 25px;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Tajawal', sans-serif;
    box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    &:hover {
      background-position: right center !important;
    }
  }
  .review-box {
    text-align: center;
    z-index: 10;
    p {
      margin-bottom: 15px;
      font-size: 16px;
      padding-top: 60px;
      color: #77838f;
    }
    h4 {
      font-size: 20px;
    }
    span {
      font-size: 12px;
    }
    &::before {
      content: ",,";
      font-size: 190px;
      letter-spacing: -10px;
      color: rgba(144, 30, 193, 0.2);
      position: absolute;
      top: -50px;
      left: 45%;
      transform: rotate(180deg);
    }
  }
  .person-slider {
    display: inline-block;
    .center {
      img {
        opacity: 1 !important;
      }
    }
    
    .person-box {
      width: 60px;
      text-align: center;
      margin: 30px auto;
      img {
        width: 100%;
        border-radius: 50%;
        opacity: 0.2;
      }
    }
  }
}

.questions {
  .content {
    .question-img {
      img {
        width: 100%;
        animation: floating;
        animation-duration: 7s;
        animation-iteration-count: infinite;
      }
    }
    .faq-box {
      h4 {
        background-image: linear-gradient(to right, #901ec1 0%, #7450fe 51%, #901ec1 100%);
        padding: 13px 25px;
        color: white;
        border-radius: 30px !important;
        margin-bottom: 15px;
        user-select: none;
        cursor: pointer;
      }
      &.active {
        .faq-content {
          padding: 10px 20px;
          display: block;
        }
      }
      .faq-content {
        padding: 10px 60px;
        margin-bottom: 15px;
        display: none;
      }
    }
  }
}

.latest-blog {
  background: linear-gradient(0deg, #f8f9fb 35%, transparent 100%);
  .content {
    position: relative;
    .btn-navigate {
      position: absolute;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      background-color: rgba(144, 30, 193, 0.07);
      color: var(--secondary-color);
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s;
      z-index: 10;
      &:hover {
        background: linear-gradient(to right, #901ec1 0%, #7450fe 51%, #901ec1 100%);
        background-size: 200% auto;
        color: #fff;
      }
    }
    #next-blog {
      right: -35px;
      top: 40%;
    }
    #prev-blog {      
      left: -35px;
      top: 40%;
    }
  }
  .blog-post {
    background-color: white;
    height: 400px;
    margin: 0 20px;
    box-shadow: 0 10px 20px 0 rgba(0, 51, 204,0.1);
    border-radius: 15px;
    overflow: hidden;
    .post-content {
      text-align: center;
      h4 {
        line-height: 1.4;
        font-weight: 500;
        color: #333;
        a {
          text-align: center;
          font-size: 25px;
          color: white;
          text-decoration: none;
          margin-bottom: 30px;
          display: block;
        }
      }
      .author {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 50px;
          border-radius: 50%;
        }
        h5 {
          color: white;
          margin-top: 10px;
          font-size: 15px;
        }
      }
    }
  }
  .style1 {
    position: relative;
    .post-content {
      position: absolute;
      width: 80%;
      text-align: center;
      z-index: 5;
      top: 20%;
      left: 0;
      right: 10%;
      bottom: 0; 
    }
    &::before {
      content: "";
      background-color: #33333380;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  .style2 {
    .post-content {    
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      align-items: center;
      h4 {
        line-height: 1.4;
        width: 80%;
        a {
          color: #333;
          font-size: 16px;
          font-weight: 300;
        }
      }
      .author {
        h5 {
          color: #333;
        }
      }
    }
  }
}

.contact {
  .section-header {
    text-align: right;
    margin-bottom: 30px;
    h2 {
      font-size: 24px;
      margin-bottom: 3px;
      color: #333;
      font-weight: 500;
    }
    p {
      font-size: 14px;
      color: #77838f;
    }
  }
  .contact-box {
    margin-bottom: 30px;
    h3 {
      font-size: 15px;
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      margin-bottom: 15px;
      color: #333;
    }
    .contact-content {
      display: flex;
      align-items: center;
      .content-icon {
        padding-left: 60px;
        position: relative;
        i {
          background: linear-gradient(to right, #901ec1 0%, #7450fe 51%, #901ec1 100%);
          position: absolute;
          right: 0;
          top: -30px;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          &::before {
            font-size: 45px;
          }
        }
        // background: linear-gradient(to right, #901ec1 0%, #7450fe 51%, #901ec1 100%);
      }
      p {
        color: #77838f;
        line-height: 2;
        font-size: 15px;
        span {
          display: block;
        }
      }
    }
  }
  .form-shape {
    position: absolute;
    img {
      width: 100%;
    }
  }
  .contact-form-block {
    background: #fff;
    position: relative;
    box-shadow: 0px 0px 30px 5px rgba(154, 161, 171, 0.18);
    padding: 60px 50px;
    margin: 0 60px;
    border-radius: 30px;
    .contact-form {
      .form-control {
        display: block;
        width: 100%;
        border: 1px solid #ddd;
        background-color: #fff;
        height: 45px;
        line-height: 45px;
        padding: 0 10px;
        text-indent: 15px;
        color: #222;
        border-radius: 30px;
        font-weight: 300;
        margin-bottom: 20px;
        font-size: 13px;
        transition: border-color .15s ease-in-out;
        font-family: 'Tajawal', sans-serif;
        &:focus {
          outline: none;
          border-color: #901ec1;
        }
      }
      textarea {
        height: auto !important;
      }
    }
  }
}

.main-footer {
  background: linear-gradient(to left, rgba(144, 30, 193, 1) 0%, rgb(107, 73, 238) 51%, rgba(144, 30, 193, 1) 100%);
  background-size: 200% auto;
  position: relative;
  padding-top: 220px;
  color: white;
  .logo-img {
    margin-bottom: 20px;
    img {
      max-height: 35px;
    }
  }
  p {
    color: white;    
    line-height: 1.9;
  }
  .social-media {
    list-style: none;
    margin: 20px 0;
    display: flex;
    li {
      a {
        color: #fff;
        background: rgba(255, 255, 255, 0.4);
        width: 35px;
        height: 35px;
        display: block;
        line-height: 35px;
        text-align: center;
        border-radius: 50%;
        margin-left: 4px;
        transition: all 500ms;
        &:hover {
          background-color: white;
          color: var(--main-color);
        }
      }
    }
  }
  .footer-heading {
    h4 {
      color: #fff;
      margin-bottom: 10px;
      display: block;
      position: relative;
      padding-right: 20px;
      font-size: 16px;
      &::before {
        position: absolute;
        content: "";
        top: 30%;
        width: 10px;
        height: 10px;
        display: block;
        right: 0;
        box-shadow: 3px 3px 0px 0px rgb(196, 171, 230);
        background-color: #fff;
        animation: rotateIn 3s infinite;
      }
    }
  }
  .footer-list {
    list-style: none;
    padding: 2px 3px ;
    li {
      margin: 10px 0;
      a {
        color: white;
        text-decoration: none;
        position: relative;
        padding-right: 20px;
        transition: opacity 0.2s ease-in-out;
        &::before {
          content: "\f100";
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          position: absolute;
          right: 0;
          top: 3px;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .newsletter-form {
    border-radius: 30px;
    height: 45px;
    display: flex;
    margin-top: 30px;
    input {
      width: 100%;
      padding-left: 20px;
      height: 45px;
      background: #fff;
      box-shadow: none;
      border: none;
      padding-right: 20px;
      border-radius: 0 30px 30px 0;
      font-family: 'Tajawal', sans-serif;
      &:focus {
        outline: none;
      }
    }
    .btn {
      margin: 0;
      border-radius: 30px 0 0 30px;
    }
  }
  .copyright {
    text-align: center;
    padding: 30px 0;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    margin-top: 30px;
    a {
      color: white;
      text-decoration: none;
    }
    i {
      &::before {
        margin: 3px;
      }
    }
  }
}

@keyframes wave {
  0% {
      margin-left: 0
  }
  100% {
      margin-left: -1600px
  }
}

@keyframes swell {
  0%,
  100% {
      transform: translate3d(0, -45px, 0)
  }
  50% {
      transform: translate3d(0, 5px, 0)
  }
}

@keyframes floating {
  0% {
      transform: rotateX(0deg) translateY(0px);
  }
  50% {
      transform: rotateX(0deg) translateY(15px);
  }
  100% {
      transform: rotateX(0deg) translateY(0px);
  }
}

@keyframes rotateIn {
  from {
    opacity: 0;
    transform: rotate(0);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
